#nav-bar {
  height: 80px;
  background: #9ACCD3;
  width: 100%;
  padding: 0 2em 0 2em;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;  
}

#nav-bar .header {
  line-height: 80px;
  float: left;
  color: #e8fdff;
  margin-left: 10px;
  font-size: 200%;
  font-weight: 300;
}

#nav-bar button {
    margin-top: .5em;
    height: 3em;
    width: 6em;
    color: #9ACCD3;
    border: 1px solid #000000;
    background: #EBFAFD;
    float: right;
    padding: 0 0 0 0;
    font-family: inherit;
    font-size: 20px;
    border-radius: 10px;
}

#nav-bar button:hover {
    background: #ffffff;
}