html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.new-tweet {
  height: 175px;
  margin: 0 2em 2em 2em;
  position: center;
  border: 1px solid #a0a0a0;
  background-color: #eee;   
  border-radius: 10px;
  padding: 0 2em 0 2em;
}


.new-tweet textArea {
  float: center;
  width: 100%;
}

.new-tweet input{
  float: left; 
}

.new-tweet .counter{
  float: right;
 }

 .new-tweet h2 {
  border-bottom: 1px solid #000000;
 }

