html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.tweets-container {
  height: auto;
  margin: 2em;
  float: center;
 
}

.tweets-container article {
  
  height: auto;
  margin-bottom: 2em; 
  float: top;
  border: 1px solid #a0a0a0;
  border-radius: 10px; 
  float: center;
  width: 100%;
  opacity: 0.5;
}


.tweets-container article:hover {
  background: white;
  opacity: 1;
  float: center;
  width: 100%;
  display: block;

}

.tweets-container .glyphicon {
  display: none;
  color: #9ACCD3;
  float: right;
  width: 2em;
  height: 2em;
}

.tweets-container article:hover .glyphicon{
  display: block; 
}

.tweets-container .glyphicon-flag:hover{
  color: #28B463;
}

.tweets-container .glyphicon-heart:hover{
  color:#EC7063;
}

.tweets-container .glyphicon-retweet:hover{
  color: #3498DB;
}

.tweets-container img {
  float: left;
  width: 3em;
  height: 3em;
  border: 1px;
}

.tweets-container name {
  font-size: 150%;
  font-weight: 700;
  float: left;
  padding-left: 0.3em;
}

.tweets-container handle {
  float: right;
  margin: 0em;
  padding-top: 1em;
}

.tweets-container div {
  padding: 2em;
  height: auto;
  word-wrap: break-word;
}

.tweets-container header {
  height: 4em;
  background-color: #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.5em;
}

.tweets-container footer {
  height: 2.5em;
  font-size: 75%;
  font-weight: 300;
  padding: .5em;
  border-top: 1px solid #a0a0a0;
  margin: auto;
}

.tweets-container .createdAt {
float: left;
padding-left: .5em;
}